@model Personel
@{
    ViewData["Title"] = "Details";
}

<h1>Detay Sayfası</h1>

<div class="row p-4">
    <div class="col-6">
        <dl class="row">
            <dt class="col-6">@Html.DisplayNameFor(m => m.Ad) @Html.DisplayNameFor(m => m.Soyad)</dt>
            <dd class="col-6">@Model.Ad @Model.Soyad</dd>

            <dt class="col-6">@Html.DisplayNameFor(m => m.Email)</dt>
            <dd class="col-6">@Model.Email</dd>

            <dt class="col-6">@Html.DisplayNameFor(m => m.Telefon)</dt>
            <dd class="col-6">@Model.Telefon</dd>

            <dt class="col-6">@Html.DisplayNameFor(m => m.IseAlimTarihi)</dt>
            <dd class="col-6">@Model.IseAlimTarihi</dd>

        </dl>
        <div class="mt-4">
            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-edit me-2"></i>Düzenle</a>
            <a class="btn btn-secondary" asp-action="SirketAnasayfasi"><i class="fas fa-arrow-left me-2"></i>Listeye Dön!</a>
        </div>
    </div>
</div>
